

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

.button {
	margin-top: 10px;
    padding: 2px;
    height: 30px;
    min-width: 150px;
float: right;
}
