.radio input[type=text], .checkbox input[type=text] {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-top: -7px;
}

.radio input[type=text][disabled], .checkbox input[type=text][disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.radio, .checkbox {
  height: 34px !important;
}

.bootstrap-tagsinput {
  width: 100%;
  line-height: 28px;
  padding: 2px 6px;
}

.label {
  line-height: 24px !important;
  font-size: 14px !important;
  display: inline-block;
  padding: 0 6px;
  margin: 2px 0;
}

.form-group {
  margin-bottom: 20px;
}

button {
  width: 100%;
}

.btn-lg {
  padding: 10px 24px;
}

@media (min-width: 992px) {
  button {
    width: auto;
  }
}

.input-group-btn button {
  padding: 10px 24px !important;
}

.thumbnail-img {
  float: left;
  width: 122px;
  height: 122px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.thumbnail .caption {
  margin-left: 134px;
}

.thumbnail h3 {
  margin: 8px 0 10px 0;
}

.thumbnail:hover {
  background-color: #eee;
}

.thumbnail > a:hover {
  text-decoration: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
